@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  background-color: #272e45;
  padding: 5px 50px;
  cursor: pointer;
  -webkit-text-fill-color: white;
}
.btn-container {
  color: #272e45;
  background-color: white;
  padding: 5px 30px;
  cursor: pointer;
  -webkit-text-fill-color: #272e45;
}

.side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  background-color: #fff;
}

.right-side {
  background-color: #272e45;
}

.left-side .container {
  text-align: center;
  -webkit-text-fill-color: #272e45;
}

.left-side .container > img:first-child {
  width: 263px;
  height: 263px;
}

.left-side .container .text {
  margin: 22px 0;
  font-weight: bold;
}

.left-side .container .social-container {
  margin-top: 30px;
}

.right-side .container {
  text-align: center;
  -webkit-text-fill-color: white;
}

.right-side .container p {
  text-align: center;
  padding: 0 10px;
}

.right-side .btn-container {
  margin-top: 100px;
}

.right-side h1 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.right-side h1 span {
  position: absolute;
  left: 17px;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    gap: 40px;
    height: fit-content;
  }
  .side {
    width: 100%;
    height: 100vh;
  }
  .right-side {
    padding: 40px 30px;
  }
}
