
    table {
        font-family: Arial, sans-serif;
        font-size: 50px;
        background-color: #AEC2B6;
        background-image: url("");
        background-size: cover;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    body{
        color: #BBD6B8 ;
        background-color: FFBF9B;

    }
    button {
        background-image: url("button-image.png");
        background-size: cover;
        color: #BBD6B8;
        font-size: 20px;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #94AF9F;
      }
    
    td, th {
        font-weight: bold;
        padding: 25px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #94AF9F;
        text-size-adjust: 25px;
    }
    
    